# Use DATABASE_URL instead of the individual DB_* variables when preferred.
# DATABASE_URL=postgres://todo:todo@localhost:5432/todo
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todo
DB_USER=todo
DB_PASSWORD=todo
DB_LOGGING=false
LOG_LEVEL=debug
LOG_PRETTY=true
